body {
    background-color: lightgrey;
}
p {
    color: grey;
    font-family: cursive;
}
h1{
    color: lightslategray;
    font-family: serif;
}
h3{
    color: lightslategrey;
    font-family: serif;
}
h2{
    color: lightslategrey;
    font-family: serif;
}
table {
    color:white;
}
ul{
    color: white;
}
ol{
    color: white;
}
li{
    color: grey;
    font-family: cursive;
}
ul{
    color: grey;
    font-family: cursive;
}
td{
    color: grey;
    font-family: cursive;
}


