body {
    background-color: black;
}
p {
    color: white;
    margin-left: 5%;
    margin-right: 5%;
}
h1{
    color: white;
}
h3{
    color: white;
}
table {
    color:white;
}
ul{
    color: white;
}
ol{
    color: white;
}

